.container
{
    background-color: aqua;
    width: 100%  ;
    height: 600px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;

}


.div1
{
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    
}

.div2
{
    width: 100px;
    height: 100px;
    background-color:greenyellow;
}

.div3
{
    width: 100px;
    height: 100px;
    background-color:blue;
}

.div4
{
    width: 100px;
    height: 100px;
    background-color:peru;
}

.div5
{
    width: 100px;
    height: 100px;
    background-color:pink;
}